:root {

    // Fonts
    --headings: 'DM Serif Display', serif;
    --body: 'Karla', sans-serif;

    // Colors 
    --bg-body: rgb(253, 253, 253);
    // Dark violet
    --dark-violet: rgb(45, 38, 64);
    // Grayish blue
    --grayish-blue: rgb(149, 169, 198);

    // Very dark violet
    --very-dark-violet: rgb(43, 39, 47);
     // Dark grayish violet:
     --dark-grayish-violet: rgb(131, 125, 135);
     // Very light gray
     --very-light-gray: rgb(250, 250, 250);

}














